<div class="profile=container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= image_tag('sample-author1.jpg') %>
</div>

<% @post_images.each do |post_image| %>
<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
    <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <% end %>
</div>
<%= render 'post_images/list', post_images: @post_images %>
<% end %>
<%= paginate @post_images %>